<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    
    <link rel="shortoutput icon" href="../../public/img/logo.png">
    <link rel="stylesheet" href="../style/main.css">
   
  
   
    
    <title>SAR La Estrella</title>
</head>
<body>

    <div class="page-wrapper">
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <img src="../../public/img/logo.png" alt="">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Iniciar Sesion</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <header class= "header">
       

            <div class="element-one">
                <img src = "../../public/img/element-img-1.png" alt = ""> 
            </div>

            <div class="banner">
                <div class="container">
                    <div class="banner-content">
                        <div class="banner-left">
                            <div class="content-wrapper">
                                <h1 class="banner-title text-white">Plataforma virtual <br>SAR La Estrella</h1>
                                <p class="text text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus vel, expedita fuga accusantium dignissimos </p>
                                <a href = "#" class="btn btn-dark">Consulta ahora</a>
                            </div>
                        </div>

                        <div class = "banner-right d-flex align-items-center justify-content-end">
                            <img src = "../../public/img/pngwing.com.png" alt = ""> 
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <main>
            <section class = "sc-services">
                <div class = "services-shape">
                    <img src = "../../public/img/curve-shape-1.png" alt = ""> 
                </div>
                <div class="container">
                    <div class = "services-content">
                        <div class="title-box text-center">
                            <div class = "content-wrapper">
                                <h3 class = "title-box-name">Servicios</h3>
                                <div class = "title-separator mx-auto"></div>
                                <p class = "text title-box-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto neque maxime dolor obcaecati sed libero provident, asperiores nihil quasi, similique amet quo reiciendis illum dolore totam. Itaque exercitationem deleniti aliquam?</p>
                            </div>
                        </div>

                        <div class = "services-list">
                            <div class = "services-item">
                                <div class = "item-icon">
                                    <img src = "../../public/img/estetoscopio.gif" alt = "Gif icon"> 
                                </div>
                                <h5 class = "item-title fw-7">Doctores de calidad </h5>
                                <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit..</p>
                            </div>

                            <div class = "services-item">
                                <div class = "item-icon">
                                    <img src = "../../public/img/farmacia.gif" alt = "Gif icon"> 
                                </div>
                                <h5 class = "item-title fw-7">Farmacia</h5>
                                <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>

                            <div class = "services-item">
                                <div class = "item-icon">
                                    <img src = "../../public/img/ambulancia.gif" alt = "Gif icon"> 
                                </div>
                                <h5 class = "item-title fw-7">Paramédico con el  mejor equipamiento</h5>
                                <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>

                            <div class = "services-item">
                                <div class = "item-icon">
                                    <img src = "../../public/img/hospital.gif" alt = "Gif icon"> 
                                </div>
                                <h5 class = "item-title fw-7">Mejor Infraestructura</h5>
                                <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>

                            <div class = "services-item">
                                <div class = "item-icon">
                                    <img src = "../../public/img/microscopio.gif" alt = "Gif icon"> 
                                </div>
                                <h5 class = "item-title fw-7">Laboratorio</h5>
                                <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>

                            <div class = "services-item">
                                <div class = "item-icon">
                                    <img src = "../../public/img/jeringuilla.gif" alt = "Gif icon"> 
                                </div>
                                <h5 class = "item-title fw-7">Toma de muestras</h5>
                                <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </section>

          

            <section class = "sc-grid sc-grid-one">
                <div class="container">
                    <div class = "grid-content d-grid align-items-center">
                        <div class = "grid-img">
                            <img src = "../../public/img/image.png" alt = "" style="border-radius: 8px;">
                        </div>
                        <div class = "grid-text">
                            <div class = "content-wrapper text-start">
                                <div class = "title-box">
                                    <h3 class = "title-box-name text-white">SERVICIO DE ATENCIÓN DE URGENCIA DE ALTA RESOLUTIVIDAD</h3>
                                    <div class = "title-separator mx-auto"></div>
                                    <h2 class = "title-box-name text-white">OBJETIVOS SAR LA ESTRELLA</h2>
                                    <ul>
                                        <li class = "title-box-name text-white">Brindar una atención resolutiva, oportuna y de calidad a las personas.</li>
                                        <li class = "title-box-name text-white">Derivación a red de urgencia cuando corresponda.</li>
                                        <li class = "title-box-name text-white">Derivación a consultorio cuando corresponda.</li>
                                        <li class = "title-box-name text-white">Estabilizar y trasladar oportunamente casos que requiera mayor complejidad (C1, C2)</li>
                                    </ul>
                                </div>

                                
                                <button type = "button" class = "btn btn-dark">Seguir Leyendo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section class = "sc-feedback">
                <div class="container">
                    <div class = "feedback-content">
                        <div class = "feedback-element">
                            <img src = "../../public/img/element-img-3.png">
                        </div>
                        <div class="feedback-element-2">
                            <img src = "../../public/img/element-img-5.png"> 
                        </div>
                        <div class = "title-box text-center">
                            <div class = "content-wrapper">
                                <h3 class = "title-box-name text-white">Director Establecimiento</h3>
                                <div class = "title-separator mx-auto"></div>
                            </div>
                        </div>

                        <div class = "feedback-list feedback-slider owl-carousel owl-theme">
                            <div class = "feedback-item d-grid">
                                <div class = "item-left d-flex align-items-center">
                                    <div class = "item-img">
                                        <img src = "../../public/img/emilio_munoz-3.jpg" alt = ""> 
                                    </div>
                                    <div class = "item-info text-white">
                                        <p class = "fw-7 name">Emilio Muñoz Duarte</p>
                                        <span class = "designation fw-4">Director Establecimiento</span>
                                    </div>
                                </div>
                                <div class = "item-right">
                                    <p class = "text text-white">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quibusdam aliquid, obcaecati eveniet atque saepe vel asperiores quis odio quasi, id ducimus dignissimos accusantium ipsam soluta hic qui suscipit. Aperiam."</p>
                                </div>
                            </div>

                          

                            <div class = "feedback-item d-grid">
                                <div class = "item-left d-flex align-items-center">
                                    <div class = "item-img">
                                        <img src = "../../public/img/carlos_borroto.jpg" alt = ""> 
                                    </div>
                                    <div class = "item-info text-white">
                                        <p class = "fw-7 name">Carlos Borroto Tejera

                                        </p>
                                        <span class = "designation fw-4">Director Establecimiento</span>
                                    </div>
                                </div>
                                <div class = "item-right">
                                    <p class = "text text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cumque accusantium quo pariatur maiores dicta, quia facere est repellendus nostrum dignissimos sit suscipit consequatur, ratione deserunt? Ut labore aut quod.<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class = "sc-articles">
                <div class = "articles-shape">
                    <img src = "../../public/img/curve-shape-2.png" alt = "">
                </div>
                <div class = "container">
                    <div class = "articles-content">
                        <div class = "title-box text-center">
                            <div class = "content-wrapper">
                                <h3 class = "title-box-name">Noticias</h3>
                                <div class = "title-separator mx-auto"></div>
                            </div>
                        </div>
                        
                        <div class = "articles-list d-flex flex-wrap justify-content-center">
                            <article class = "articles-item">
                                <div class = "item-img">
                                    <img src = "../../public/img/sar-1.jpg"> img/sar-1.jpg
                                </div>
                                <div class = "item-body">
                                    <div class = "item-title">Lorem ipsum dolor sit amet consectetur</div>
                                    <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos molestias iusto, cupiditate provident vitae animi sunt quo </p>
                                    <a href = "#" class = "item-link text-blue d-flex align-items-baseline">
                                        <span class = "item-link-text">Seguir Leyendo</span>
                                        <span class = "item-link-icon">
                                            <i class = "fas fa-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </article>

                            <article class = "articles-item">
                                <div class = "item-img">
                                    <img src = "../../public/img/sar-2.jpg">
                                </div>
                                <div class = "item-body">
                                    <div class = "item-title">Lorem ipsum dolor sit amet consectetur</div>
                                    <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos molestias iusto, cupiditate provident vitae animi sunt quo</p>
                                    <a href = "#" class = "item-link text-blue d-flex align-items-baseline">
                                        <span class = "item-link-text">Seguir Leyendo</span>
                                        <span class = "item-link-icon">
                                            <i class = "fas fa-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </article>

                            <article class = "articles-item">
                                <div class = "item-img">
                                    <img src = "../../public/img/sar-3.jpg">
                                </div>
                                <div class = "item-body">
                                    <div class = "item-title">Lorem ipsum dolor sit amet consectetur</div>
                                    <p class = "text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos molestias iusto, cupiditate provident vitae animi sunt quo</p>
                                    <a href = "#" class = "item-link text-blue d-flex align-items-baseline">
                                        <span class = "item-link-text">Seguir Leyendo</span>
                                        <span class = "item-link-icon">
                                            <i class = "fas fa-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class = "footer">
            <div class = "container">
                <div class = "footer-content">
                    <div class = "footer-list d-grid text-white">
                        <div class = "footer-item">
                            <a href = "#" class = "navbar-brand d-flex align-items-center">
                                <img src="../../public/img/logo.png" alt="" srcset="">
                                <span class = "brand-text fw-7">La Estrella</span>
                            </a>
                            <p class = "text-white">Sar La Estrella <br>Dirección: El Lazo 8631, Pudahuel, Región Metropolitana</p>
                            <p class = "text-white copyright-text">&copy; Luis adasme Todos los Derechos Reservados.</p>
                        </div>
                      
                    </div>
                </div>
            </div>

            <div class = "footer-element-1">
                <img src = "../../public/img/element-img-4.png" alt = "">
            </div>
            <div class = "footer-element-2">
                <img src = "../../public/img/element-img-5.png" alt = "">
            </div>
        </footer>
    </div>      

    </div>
</body>
<!--bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<!--AJAX-->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="../js/script.js"></script>
<script src="../js/anime.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>
